/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ff8882;
  --blck-color: #0e2431;
  --white-color: #fff;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* Navber styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  transition: all 0.3s ease;
}

nav.sticky {
  background: var(--primary-color);
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: var(--primary-color);
}

nav.sticky .navbar .logo a {
  color: var(--white-color);
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

nav .navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: var(--blck-color);
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: var(--primary-color);
}

nav.sticky .menu a {
  color: var(--white-color);
}

nav.sticky .menu a:hover {
  color: var(--blck-color);
}

.navbar .mediaIcons a {
  color: var(--primary-color);
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .mediaIcons a {
  color: var(--white-color);
}

/*  side navigation Menu Button CSS */
nav .menuBtn,
.navbar .menu .cancelBtn {
  position: absolute;
  color: var(--white-color);
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menuBtn {
  color: var(--primary-color);
}

nav.sticky .menuBtn {
  color: var(--white-color);
}

.navbar .menu .menuBtn {
  color: var(--white-color);
}

/* home section styleing */
.home {
  height: 100vh;
  width: 100%;
  background: url("img/IMG-1561\ copy.png") no-repeat;
  /* background-size: contain; */
  background-position: 95% center;
  background-attachment: fixed;
}

.home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 88%;
  height: 100%;
  margin: auto;
}

.text-one {
  font-size: 3rem;
}

.text-two {
  font-size: 2.5rem;
}

#name {
  color: var(--primary-color);
  font-family: "Josefin Slab", serif;
  font-size: 3rem;
}

.text-three,
.text-four {
  font-size: 2.5rem;
}
